<h1>About Hall of Time</h1>

<br>

<div class="container">
    <div class="jumbotron">

        Hall of Time is a web app built for Lawrence Hall of Science in order to merge various timesheet methods together into 1, beautiful interface.  If you are an employee, create an account and start logging your hours.

    </div>
</div>
