<h1><%= image_tag "ic_action_group_h.png" %> Listing Users</h1>

<table id="defaultTable">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
