<h1><%= image_tag "ic_action_group_h.png" %> Listing Users</h1>

<table id="defaultTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Approved</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user %></td>
        <% if !user.approved %>
          <td><%= link_to "[Approve Account]", users_approve_path(user) %></td>
        <% else %>
          <td>Approved</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
